[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"
paynow = "*"
dj-database-url = "*"
whitenoise = "*"
django-heroku = "*"
python-decouple = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
